.ticket {
  min-width: 100% !important;
}

.ticket-button {
  width: 75px;
}

.ticket-id {
  bottom: 5px;
  right: -30px;
  width: 100px;
  font-size: 10px;
  color: #6c757d;
}

.ticket-nav,
.ticket-body,
.ticket-container {
  background-color: #181c23 !important;
}

hr {
  border-top: 1px solid white;
}

.sub-text {
  color: rgb(150, 150, 150);
}
